# Which config file to use. Leave unchanged if not sure.
CONFIG_FILE=/var/data/blocksci_data/btc.cfg

# Raw cassandra keyspace
RAW_KEYSPACE=btc_raw

# Block range to export to cassandra
FROM_BLOCK=300000
TO_BLOCK=400000

# Number of processes to use when copying raw blockchain data from blocksci_datadir to cassandra
PROCESSES=24

# Host of the cassandra database. The docker container is connected to a global graphsense network, so cassandra can be reached via a hostname.
CASSANDRA_HOST=cassandra

# Blocksci data directory for storing raw blockchain before importing it to cassandra. 
# Mounted at /var/data/blocksci_data/ inside the exporter container.
BLOCKSCI_DATADIR=./blocksci_data


# Local (host) directory of a btc p2p client. Parser takes blocks from here and puts them into blocksci datadir.
# Mounted at /var/data/block_data/ inside the parser container.
BLOCK_DATADIR=

